.nave{
    border-bottom: 1px solid red;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    width: 100%;
    padding: 0px 10px 0px 10px;
    color: white;
}
ul{
    display: flex;
    list-style: none;
}
ul li{
    margin: 20px;
    color: rgb(212, 196, 196);
}